:root{
    --fonte-topo:"Istok Web", sans-serif;
    --fonte-banner-butao:"Julius Sans One", sans-serif;
    --fonte-texto:"League Spartan", sans-serif;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ebee; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 550px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333333;
    font-family: var(--fonte-banner-butao);
    margin-bottom: 25px;
    border-bottom: 2px solid  rgb(242, 132, 130);
    padding-bottom: 10px;
}
div {
    margin-bottom: 18px;
}
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #555555;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    border-color:rgba(107, 112, 92, 1); 
    outline: none;
}

.radio-group, .checkbox-group {
    padding: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.radio-group label, .checkbox-group label {
    font-weight: normal; 
    display: inline;
    color: #333;
}

.radio-group div, .checkbox-group div {
    margin-bottom: 8px;
}

input[type="submit"] {
    display: block; 
    width: 100%;
    background-color: rgb(242, 132, 130);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

input[type="submit"]:hover {
    background-color: rgb(192, 108, 107);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}